<script type="text/template" id="group-edit-template">
    <h2>{{ "rtxlabs.user.group.edit.header" | trans }}</h2>

    <form>
        <div class="row well form-horizontal">
            <div class="span6">
                <legend>{{ "rtxlabs.user.group.edit.legend" | trans }}</legend>
                <div class="control-group" id="group-name-div">
                    <label class="control-label" for="group-name">{{ 'rtxlabs.user.group.label.name' | trans }}:</label>
                    <div class="controls">
                        <input class="span11" id="group-name" name="group[name]" type="text" required="required" value="<%= name %>">
                    </div>
                </div>
            </div>
            <div class="span6">
                <legend>{{ "rtxlabs.user.group.edit.legend.accessdata" | trans }}</legend>
                <div class="control-group" id="group-roles-div">
                    <label class="control-label" for="group-roles">{{ 'rtxlabs.user.group.label.roles' | trans }}:</label>
                    <div class="controls">
                        <select id="group-roles" name="group[roles]" multiple="multiple" class="span12 chzn-select" data-placeholder="{{ 'rtxlabs.user.group.roles.selector' | trans }}" size="15">
                            {% for groupname, group in roles %}
                                <optgroup label="{{ ('rotex.sbp.'~groupname~'.role.groupname') | trans }}">
                                    {% for role in group %}
                                        <option value="{{ role }}" <%= _.indexOf(roles, '{{ role }}') != -1 ? 'selected="selected"' : '' %> >{{ ('rotex.sbp.'~groupname~'.role.'~role | lower) | trans }}</option>
                                    {% endfor %}
                                </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions">
                <button type="button" id="save-group" class="btn btn-info pull-right" >{{ "core.general.form.save" | trans }}</button>
                &nbsp;&nbsp;
                <a href="#group/list" class="btn btn-link pull-right">{{ "core.general.form.backtolist" | trans}}</a>
            </div>
        </div>
    </form>
</script>