<script type="text/template" id="group-list-template">
    <div class="article-container">
        <header>
            <h2>{{ "rtxlabs.user.group.header" | trans }}</h2>
        </header>
        <div class="input-prepend pull-right">
            <a href="#group/create" class="btn btn-link">
                <i class="icon-plus"></i>
                {{ "rtxlabs.user.group.label.add" | trans }}
            </a>
        </div>
        <div class="input-prepend pull-right">
            <a href="#list" class="btn btn-link">
                <i class="icon-user"></i>
                {{ "rtxlabs.user.header" | trans }}
            </a>
        </div>
        <section>
            <br/>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>{{ "rtxlabs.user.group.label.name" | trans }}</th>
                    <th>{{ "rtxlabs.user.group.label.user_amount" | trans }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody id="list-table-body">

                </tbody>
            </table>
        </section>
    </div>
</script>