<script type="text/template" id="user-list-template">
    <div class="article-container">
        <header>
            <h2>{{ "rtxlabs.user.header" | trans }}</h2>
        </header>
        <div class="input-prepend pull-right">
            <a href="#create" class="btn btn-link">
                <i class="icon-plus"></i>
                {{ "rtxlabs.user.label.add" | trans }}
            </a>
        </div>
        <div class="input-prepend pull-right">
            <a href="#group/list" class="btn btn-link">
                <i class="icon-list"></i>
                {{ "rtxlabs.user.group.header" | trans }}
            </a>
        </div>
        <section>
            <br/>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ "rtxlabs.user.label.name" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.personnel_number" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.email" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.username" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.administrator" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.last_login" | trans }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody id="list-table-body">
                </tbody>
            </table>
        </section>
    </div>
    <div class="row">
        <div id="user-list-pager" class="pagination"/>
    </div>
</script>