<script type="text/template" id="user-edit-template">
    <div class="page-header">
        <h2>{{ "rtxlabs.user.edit.header" | trans }}</h2>
    </div>
    <form>
        <div class="row well form-horizontal">
            <div class="span6">
                <legend>{{ "rtxlabs.user.edit.legend" | trans }}</legend>
                <div class="control-group" id="user-firstname-div">
                    <label class="control-label" for="user-firstname">{{ 'rtxlabs.user.label.firstname' | trans }}:</label>
                    <div class="controls">
                        <input class="span11" id="user-firstname" name="user[firstname]" type="text" value="<%= firstname %>">
                    </div>
                </div>
                <div class="control-group" id="user-lastname-div">
                    <label class="control-label" for="user-lastname">{{ 'rtxlabs.user.label.lastname' | trans }}:</label>
                    <div class="controls">
                        <input class="span11" id="user-lastname" name="user[lastname]" type="text" value="<%= lastname %>">
                    </div>
                </div>
                <div class="control-group" id="user-personnelNumber-div">
                    <label class="control-label" for="user-personnelNumber">{{ 'rtxlabs.user.label.personnel_number' | trans }}:</label>
                    <div class="controls">
                        <input class="span11" id="user-personnelNumber" name="user[personnelNumber]" type="text" value="<%= personnelNumber %>">
                    </div>
                </div>
                <div class="control-group" id="user-email-div">
                    <label class="control-label" for="user-email">{{ 'rtxlabs.user.label.email' | trans }}:</label>
                    <div class="controls">
                        <input class="span11" id="user-email" name="user[email]" type="text" value="<%= email %>">
                    </div>
                </div>
                
                <legend>{{ "rtxlabs.user.group.edit.legend.accessdata" | trans }}</legend>
                <div class="control-group" id="user-roles-div">
                    <label class="control-label" for="group-roles">{{ 'rtxlabs.user.label.roles' | trans }}:</label>
                    <div class="controls">
                        <select id="group-roles" name="user[roles]" multiple="multiple" class="span11 chzn-select" data-placeholder="{{ 'rtxlabs.user.roles.selector' | trans }}" size="15">
                            {% for groupname, group in roles %}
                            <optgroup label="{{ ('rotex.sbp.'~groupname~'.role.groupname') | trans }}">
                                {% for role in group %}
                                    <option value="{{ role }}" <%= _.find(roles, function(role){ return role == '{{ role }}' }) !== undefined ? 'selected="selected"' : '' %> >{{ ('rotex.sbp.'~groupname~'.role.'~role | lower) | trans }}</option>
                                {% endfor %}
                            </optgroup>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="control-group" id="user-groups-div">
                    <label class="control-label" for="user-groups">{{ 'rtxlabs.user.label.groups' | trans }}:</label>
                    <div class="controls">
                        <select id="user-group" name="user[groups]" multiple="multiple" class="span11 chzn-select" data-placeholder="{{ 'rtxlabs.user.groups.selector' | trans }}" size="15">
                            {% for group in groups %}
                                <option value="{{ group.id }}" <%= _.find(obj.groups, function(group){ return group.id == {{ group.id }} }) !== undefined ? 'selected="selected"' : '' %> >{{ group }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
            <div class="span6">
                <legend>{{ "rtxlabs.user.edit.legend.accessdata" | trans }}</legend>
                <div class="control-group" id="user-username-div">
                    <label class="control-label" for="user-username">{{ 'rtxlabs.user.label.username' | trans }}:</label>
                    <div class="controls">
                        <input class="span11" id="user-username" name="user[username]" type="text" value="<%= username %>">
                    </div>
                </div>
                <div class="control-group" id="password-required-div">
                    <label class="control-label" for="user-passwordRequired">{{ 'rtxlabs.user.label.passwordRequired' | trans }}:</label>
                    <div class="controls">
                        <input id="user-passwordRequired" type="checkbox" name="user[passwordRequired]" <%= passwordRequired==true ? 'checked=checked' : '' %>/>
                    </div>
                </div>
                <div class="control-group" id="user-password-div">
                    <label class="control-label" for="user-plainPassword">{{ 'rtxlabs.user.label.password' | trans }}:</label>
                    <div class="controls">
                        <input class="medium" id="user-plainPassword" name="user[plainPassword]" type="password"
                               value="<%= plainPassword %>">
                    </div>
                </div>
                <div class="control-group" id="user-passwordRepeat-div">
                    <label class="control-label" for="user-passwordRepeat">{{ 'rtxlabs.user.label.passwordRepeat' | trans }}:</label>
                    <div class="controls">
                        <input class="medium" id="user-passwordRepeat" name="user[passwordRepeat]"
                               type="password" value="<%= passwordRepeat %>">
                    </div>
                </div>
                <div class="control-group" id="user-locale-div">
                    <label class="control-label" for="user-admin">{{ 'rtxlabs.user.label.locale' | trans }}:</label>
                    <div class="controls">
                        <select id="user-locale" class="chzn-single" name="user[locale]">
                            {% for locale in rtx_available_locales() %}
                                <option value="{{ locale }}" <%= locale == "{{ locale }}" ? 'selected="selected"' : '' %> >{{ locale | rtx_locale_realname(app.user.locale) }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-actions">
                <button id="save-user" type="button" class="btn small btn-info pull-right">{{ "core.general.form.save" | trans }}</button>
                &nbsp;&nbsp;
                <a href="#list" class="btn btn-link pull-right">{{ "core.general.form.backtolist" | trans}}</a>
            </div>
        </div>
    </form>
</script>