{% extends "RotexSbpCoreBundle::base.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@RotexSbpCoreBundle/Resources/public/css/bootstrap.css'
        '@RotexSbpCoreBundle/Resources/public/css/application.css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block navigation %}
    {% include "RtxLabsUserBundle::navigation.html.twig" %}
{% endblock %}

{% block breadcrumbs %}
{% endblock %}

{% block main %}
    <div class="login container">
        <div class="content">
            <div class="page-header">
                <h2>{{ "rtxlabs.user.login.message" | trans }}</h2>
            </div>

            {% if error %}
                <div class="alert warning">
                    <p><strong>{{ "core.general.notification.error.header"|trans }}</strong>: {{ error.message | trans }}</p>
                </div>
            {% endif %}

            <form action="{{ path("_security_check") }}" method="post">
                <label>{{ "rtxlabs.user.login.form.username"|trans }}</label>
                <div class="input">
                    <input type="text" id="username" name="_username" value="{{ last_username }}" class="xlarge">
                </div>

                <label>{{ "rtxlabs.user.login.form.password"|trans }}</label>
                <div class="input">
                    <input type="password" id="password" name="_password" class="xlarge">
                </div>

                <div class="input">
                    <label class="checkbox">
                        <input type="checkbox" name="_remember_me"/>
                        {{ "rtxlabs.user.login.form.remember_me"|trans }}
                    </label>
                </div>

                <div class="form-actions">
                    <input type="submit" class="btn large primary" value="{{ "rtxlabs.user.login.form.login"|trans }}" />
                    {% if registrationEnabled %}
                        <a href="{{ path('rtxlabs_user_password_forgotten') }}" class="forgot">{{ "rtxlabs.user.login.lost_password"|trans }}</a>
                        <a href="{{ path('rtxlabs_user_registration_register') }}" class="forgot">{{ "rtxlabs.user.registration.register"|trans }}</a>
                    {% endif %}
                </div>
            </form>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script>!window.jQuery && document.write(unescape('%3Cscript src="bundles/rotexsbpcore/js/jquery/jquery-1.7.1.min.js"%3E%3C/script%3E'))</script>

    <script src="/bundles/rotexsbpcore/js/login_bootstrap.js"></script>
{% endblock %}