<script type="text/template" id="group-edit-template">
    <h2>{{ "rtxlabs.user.group.edit.header" | trans }}</h2>
    <div class="alert alert-success"  style="display: none;">
        <p>
            <strong>{{ "core.general.notification.success.header" | trans }}</strong>
            {{ "rtxlabs.user.notification.user_successfully_saved" | trans }}
        </p>
    </div>
    <div class="alert alert-error" style="display: none;">
        <p>
            <strong>{{ "core.general.notification.error.header" | trans }}</strong>
        <p id="notification-error-body">
        </p>
        </p>
    </div>

    <form class="well">
        <div class="row">
            <div class="span5">
                <fieldset>
                    <legend>{{ "rtxlabs.user.group.edit.legend" | trans }}</legend>
                    <div class="control-group" id="group-name-div">
                        <label for="group-name">{{ 'rtxlabs.user.group.label.name' | trans }}:</label>
                        <div class="input"><input class="span8" id="group-name" name="group[name]" type="text"
                                                  required="required" value="<%= name %>"></div>
                    </div>
                </fieldset>
            </div>
            <div class="span6">
                <fieldset>
                    <legend>{{ "rtxlabs.user.group.edit.legend.accessdata" | trans }}</legend>
                    
                    <div class="control-group" id="group-roles-div">
                        <label for="group-roles">{{ 'rtxlabs.user.group.label.roles' | trans }}:</label>
                        <div class="input">
                            <select id="group-roles" name="group[roles]" multiple="multiple" class="span12 chzn-select" data-placeholder="{{ 'rtxlabs.user.group.roles.selector' | trans }}" size="15">
                                {% for groupname, group in roles %}
                                    <optgroup label="{{ ('rotex.sbp.'~groupname~'.role.groupname') | trans }}">
                                        {% for role in group %}
                                            <option value="{{ role }}" <%= _.indexOf(roles, '{{ role }}') != -1 ? 'selected="selected"' : '' %> >{{ ('rotex.sbp.'~groupname~'.role.'~role | lower) | trans }}</option>
                                        {% endfor %}
                                    </optgroup>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="form-actions">
                <button type="button" id="save-group" class="btn btn-info" >{{ "core.general.form.save" | trans }}</button>
                &nbsp;&nbsp;
                <a href="#" class="btn">{{ "core.general.form.backtolist" | trans}}</a>
            </div>
        </div>
    </form>
</script>