{% extends "RotexSbpCoreBundle::base.html.twig" %}

{% block navigation %}
    {% include "RtxLabsUserBundle::navigation.html.twig" %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@RtxLabsUserBundle/Resources/public/css/user.css'
    %}

    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main %}
    {{ parent() }}

    <div id="registration-main" class="full-block clearfix">
        <div class="row">
            <div class="span6 confirmed">
                <legend>{{ 'rtxlabs.user.registration.success' | trans }}</legend>
                {{ 'rtxlabs.user.registration.confirmed' | trans }}<br />
                {{ 'rtxlabs.user.registration.redirect' | trans }}
                <a class="edit" href="{{ path('uac') }}">{{ 'rtxlabs.user.registration.redirect.link' | trans }}</a>
            </div>
        </div>
    </div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $(document).ready( function() {
            setTimeout(function() {
                window.location.href = '{{ path('uac') }}';
            }, 10000);
        });
    </script>
{% endblock %}