{% extends "RotexSbpCoreBundle::backbone.html.twig" %}

{% block navigation %}
    {% include "RtxLabsUserBundle::navigation.html.twig" %}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets
        '@RtxLabsUserBundle/Resources/public/css/user.css'
    %}

    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block main %}
    {{ parent() }}

    <div id="registration-main" class="full-block clearfix"></div>

    {% include 'RtxLabsUserBundle:Reactivation:reactivationTemplate.html.twig' %}
    {% include 'RtxLabsUserBundle:Reactivation:confirmedTemplate.html.twig' %}
    {% include 'RtxLabsUserBundle:Registration:registrationTemplate.html.twig' %}
    {% include 'RtxLabsUserBundle:Registration:registrationConfirmedTemplate.html.twig' %}
    {% include 'RtxLabsUserBundle:Registration:registrationExpiredTemplate.html.twig' %}
    {% include 'RtxLabsUserBundle:Registration:termsOfServiceTemplate.html.twig' %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    {% javascripts

        '@RtxLabsUserBundle/Resources/public/js/Application.js'

        '@RtxLabsUserBundle/Resources/public/js/Model/User.js'

        '@RtxLabsUserBundle/Resources/public/js/Collection/UserCollection.js'

        '@RtxLabsUserBundle/Resources/public/js/View/TermsofServiceView.js'
        '@RtxLabsUserBundle/Resources/public/js/View/ReactivationView.js'
        '@RtxLabsUserBundle/Resources/public/js/View/RegistrationView.js'
        '@RtxLabsUserBundle/Resources/public/js/View/RegistrationConfirmedView.js'
        '@RtxLabsUserBundle/Resources/public/js/View/ReactivationConfirmedView.js'
        '@RtxLabsUserBundle/Resources/public/js/View/RegistrationExpiredView.js'

        '@RtxLabsUserBundle/Resources/public/js/Router/RegistrationRouter.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        function redirectOnConfirm() {
            setTimeout(function() {
                window.location.href = '{{ path('uac') }}';
            }, 10000);
        }

        function redirectOnExpired() {
            setTimeout(function() {
                window.location.href = '{{ path('rtxlabs_user_registration_register') }}';
            }, 10000);
        }
    </script>

    <script type="text/javascript">
        App.User.initRegistrationModule();
    </script>
{% endblock %}