{% extends 'RtxLabsUserBundle:Mail:mail_layout.html.twig' %}

{% block rtxlabs_email_subject %}[{{ pageTitle }}] - {{ "rtxlabs.user.mail.title.request_resetting" | trans }}{% endblock %}

{% block rtxlabs_email_body %}

<p>{{ "rtxlabs.user.mail.salutation" | trans }}</p>
<p>{{ "rtxlabs.user.mail.title.request_resetting_information" | trans({"%name%": pageTitle}) }}:</p>
<a href="{{ homepage }}">{{ "rtxlabs.user.mail.title.request_resetting" | trans }}</a>
<br/>
<br/>
<ul>
    <li>{{ "rtxlabs.user.mail.label.username" | trans }}: {{ user.username }}</li>
</ul>
<br/>
<p>{{ "rtxlabs.user.mail.footer" | trans | raw }}</p>

{% endblock %}
