{% extends "RtxLabsUserBundle:Password:index.html.twig" %}
{% block main %}
    <div class="row">
        <div class="span6 confirmed">
            <legend>{{ 'rtxlabs.user.password.success' | trans }}</legend>
            {{ 'rtxlabs.user.password.confirmed' | trans }}<br />
            {{ 'rtxlabs.user.registration.redirect' | trans }}
            <a class="edit" href="{{ path('rtxlabs_userbundle_login') }}">{{ 'rtxlabs.user.registration.redirect.link' | trans }}</a>
        </div>
    </div>
{% endblock %}