<script type="text/template" id="password-confirmed-template">
    <div class="row">
        <div class="span6 confirmed">
            <legend>{{ 'rtxlabs.user.password.success' | trans }}</legend>
            {{ 'rtxlabs.user.password.confirmed' | trans }}<br />
            {{ 'rtxlabs.user.password.rediret' | trans }}
            <a class="edit" href="{{ path('uac') }}">{{ 'rtxlabs.user.password.rediret.link' | trans }}</a>
        </div>
    </div>
</script>