{% extends "RtxLabsUserBundle:Password:index.html.twig" %}
{% block main %}
    <div class="row">
        {% if app.session.hasFlash('reset-error') %}
            <div class="alert alert-error span8 offset2">
                <p>
                <strong>{{ "core.general.notification.error.header" | trans }}</strong>
                    {{ app.session.flash('reset-error') | trans }}
                </p>
            </div>
        {% endif %}
        {% if app.session.hasFlash('reset-send') %}
            <div class="alert alert-success span8 offset2">
                <p>
                    <strong>{{ "core.general.notification.success.header" | trans }}</strong>
                    {{ app.session.flash('reset-send') | trans }}
                </p>
            </div>
        {% endif %}
    </div>

    <div id="password-main" class="full-block clearfix">
        <div class="page-header offset2">
            <h2>{{ "rtxlabs.user.password.header" | trans }}</h2>
        </div>

        <form action="{{ path('rtxlabs_user_password_forgotten_send') }}" method="POST">
            <div class="row">
                <div class="well well-large span8 offset2 form-horizontal">
                    <div class="control-group" id="password-email-div">
                        <label class="control-label" for="password-email">{{ 'rtxlabs.user.label.email' | trans }}:</label>
                        <div class="input controls">
                            <input class="span11" id="password-email" name="password[email]" type="text" value="{{ email }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-actions span8 offset2">
                    <button type="submit" id="save-password" type="button" class="btn small btn-info pull-right">{{ "rtxlabs.user.password.reset.mail" | trans }}</button>
                    <a class="btn btn-link pull-right" href="{{ path('rtxlabs_userbundle_login') }}">{{ "rtxlabs.user.cancel" | trans }}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
