{% extends "RtxLabsUserBundle:Password:index.html.twig" %}
{% block main %}
    {% if app.session.hasFlash('reset-error') %}
        <div class="alert alert-error span6 center">
            <p>
            <strong>{{ "core.general.notification.error.header" | trans }}</strong>
                {{ app.session.flash('reset-error') | trans }}
            </p>
        </div>
    {% endif %}

    {% if app.session.hasFlash('reset-send') %}
        <div class="alert alert-success span6 center">
            <p>
                <strong>{{ "core.general.notification.success.header" | trans }}</strong>
                {{ app.session.flash('reset-send') | trans }}
            </p>
        </div>
    {% endif %}

    <div class="row">
        <div class="span6 confirmed">
            <legend>{{ 'rtxlabs.user.password.header' | trans }}:</legend>
            <form action="{{ path('rtxlabs_user_password_forgotten') }}" method="POST" class="form-horizontal">
                <div class="control-group" id="password-email-div">
                    <label class="control-label" for="password-email">{{ 'rtxlabs.user.label.email' | trans }}:</label>
                    <div class="input controls"><input class="large" id="password-email" name="password[email]" type="text" value="{{ email }}"></div>
                </div>
                <button type="submit" id="save-password" type="button" class="btn small btn-info">{{ "rtxlabs.user.password.reset.mail" | trans }}</button>
                <a href="{{ path('rtxlabs_userbundle_login') }}">{{ "rtxlabs.user.cancel" | trans }}</a>
            </form>
        </div>
    </div>
{% endblock %}
