<script type="text/template" id="password-template">
    <div class="alert alert-success"  style="display: none;">
        <p>
            <strong>{{ "core.general.notification.success.header" | trans }}</strong>
            {{ "rtxlabs.user.notification.user_successfully_saved" | trans }}
        </p>
    </div>
    <div class="alert alert-error" style="display: none;">
        <p>
            <strong>{{ "core.general.notification.error.header" | trans }}</strong>
            <p id="notification-error-body">
            </p>
        </p>
    </div>

    <div class="row">
        <div class="span6 confirmed">
            <legend>{{ 'rtxlabs.user.password.header' | trans }}:</legend>
            <form class="form-horizontal">
                <div class="control-group" id="password-email-div">
                    <label class="control-label" for="password-email">{{ 'rtxlabs.user.label.email' | trans }}:</label>
                    <div class="input controls"><input class="large" id="password-email" name="password[email]" type="text" value=""></div>
                </div>
                <button id="save-password" type="button" class="btn small btn-info">{{ "rtxlabs.user.password.reset.mail" | trans }}</button>
                <a href="#">{{ "rtxlabs.user.cancel" | trans }}</a>
            </form>
        </div>
    </div>
</script>