{% extends 'RotexSbpCoreBundle::base.html.twig' %}

{% block breadcrumb %}
    {{ parent() }}
    {% include "RotexSbpCoreBundle::breadcrumb.html.twig" with {"url": url('rtxlabs_bundle_user_list'), "name": "core.user.header", "last": true } %}
{% endblock %}

{% block title %}{{ parent() }} - {{ "rtxlabs.user.header" | trans }}{% endblock %}

{% block main %}
    <div class="page-header">
        <h2>{{ "core.user.header" | trans }}</h2>
    </div>
    {% if (app.session.hasFlash('saved.successful')) %}
        <div class="alert-message success">
            <p>
            <strong>{{ "core.general.notification.success.header" | trans }}</strong>:
            {{ "core.user.notification.user_successfully_saved" | trans }}
            </p>
        </div>
    {% endif %}

    {% if (app.session.hasFlash('deleted.successful')) %}
    <div class="alert-message success">
        <p>
            <strong>{{ "core.general.notification.success.header" | trans }}</strong>:
            <p  id="notification-error-body">
                {{ "core.user.notification.user_successfully_deleted" | trans }}
            </p>
        </p>
    </div>
    {% endif %}

    <div class="row">
        <div class="filter">
            <a href="#" class="toggle-btn"><img src="/bundles/rotexsbpcore/images/icons/toggle_open.png"/></a>
            <h4>{{ "core.general.filter.header" | trans}}</h4>
            <div class="toggle-content">
                <form action="{{ path('rtxlabs_bundle_user_list', {'page': paginator.currentPage})}}" id="filter-form" method="POST">
                    <p>
                    {{ form_label(filterForm.lastname) }}: {{ form_widget(filterForm.lastname) }}
                    {{ form_label(filterForm.firstname) }}: {{ form_widget(filterForm.firstname) }}
                    </p>
                    <p>
                    {{ form_label(filterForm.username) }}: {{ form_widget(filterForm.username) }}
                    {{ form_label(filterForm.personnelNumber) }}: {{ form_widget(filterForm.personnelNumber) }}
                    </p>

                    <input type="submit" class="small btn info" value="{{ "core.general.button.filter" | trans }}"/>&nbsp;
                    <input type="button" class="small btn" onclick="Core.clearForm('#filter-form')" value="{{ "core.general.button.filter.reset" | trans }}"/>
                </form>
            </div>
        </div>
    </div>
    <div class="row">

        <table class="bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ "rtxlabs.user.label.firstname" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.lastname" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.personnel_number" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.email" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.username" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.administrator" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.last_login" | trans }}</th>
                    <th><div class="crud-actions pull-right"><a href="{{ path('rtxlabs_bundle_user_create') }}" class="btn xsmall info">{{ "core.user.label.add" | trans }}</a></div></th>
                </tr>
            </thead>
            <tbody id="list-table-body">
                {% for user in paginator %}
                    <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
                        <td><img class="gravatar" width="14" height="14" src="{{ gravatar(user.email, 14) }}" /></td>
                        <td>{{ user.lastName }}</td>
                        <td>{{ user.firstName}}</td>
                        <td>{{ user.personnelNumber}}</td>
                        <td>{{ user.email}}</td>
                        <td>{{ user.username}}</td>
                        <td style="text-align: center">
                            {% if user.hasRole('ROLE_ADMIN') %}
                                <img src="/bundles/rotexsbpcore/images/icons/tick.png" alt="yes">
                            {% endif %}
                        </td>
                        <td>
                            {% if (user.lastLogin) %}
                                {{ user.lastLogin.format('d.m.Y') }}
                            {% else %}
                                -
                            {% endif %}
                        </td>
                        <td>
                            <ul class="crud-actions">
                                <li><a class="edit" href="{{ path('rtxlabs_bundle_user_edit', {'id': user.id}) }}" title="{{ "rtxlabs.user.label.edit" | trans }}" rel="tooltip">{{ "rtxlabs.user.label.edit" | trans }}</a></li>
                                <li><a class="delete" href="{{ path('rtxlabs_bundle_user_delete', {'id': user.id}) }}" title="{{ "rtxlabs.user.label.delete" | trans }}" rel="tooltip">{{ "rtxlabs.user.label.delete" | trans }}</a></li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="9">
                        <div class="pagerfanta">
                            {{ pagerfanta(paginator, 'core_default_trans') }}
                        </div>
                    </td>
                </tr>
            </tfoot>
       </table>
    </div>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        {% if app.session.get('user.filter') and app.session.get('user.filter').hasValues() %}
            $('.toggle-content').show();
        {% else %}
            $('.toggle-content').hide();
        {% endif %}
    </script>
{% endblock %}
