<script type="text/template" id="user-list-template">
    <div class="article-container">
        <header>
            <h2>{{ "rtxlabs.user.header" | trans }}</h2>
        </header>
        <section>
            <div class="crud-actions">
                <a href="#new" class="btn xsmall btn-info">{{ "rtxlabs.user.label.add" | trans }}</a>
            </div>
            <br/>
            <table class="table table-bordered table-striped table-condensed">
                <thead>
                <tr>
                    <th>&nbsp;</th>
                    <th>{{ "rtxlabs.user.label.firstname" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.lastname" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.personnel_number" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.email" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.username" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.administrator" | trans }}</th>
                    <th>{{ "rtxlabs.user.label.last_login" | trans }}</th>
                    <th>&nbsp;</th>
                </tr>
                </thead>
                <tbody id="list-table-body">

                </tbody>
            </table>
        </section>
    </div>
</script>