<script type="text/template" id="user-edit-template">
    <div class="page-header">
        <h2>{{ "rtxlabs.user.edit.header" | trans }}</h2>
    </div>
    <div class="alert-message success"  style="display: none;">
        <p>
            <strong>{{ "core.general.notification.success.header" | trans }}</strong>
            {{ "rtxlabs.user.notification.user_successfully_saved" | trans }}
        </p>
    </div>
    <div class="alert-message error" style="display: none;">
        <p>
            <strong>{{ "core.general.notification.error.header" | trans }}</strong>
            <p id="notification-error-body">
            </p>
        </p>
    </div>

    <form action="#" class="well">
        <div class="row">
            <div class="span8">
                <fieldset>
                    <legend>{{ "rtxlabs.user.edit.legend" | trans }}</legend>
                    <div class="clearfix" id="user-firstname-div">
                        <label for="user-firstname">{{ 'rtxlabs.user.label.firstname' | trans }}:</label>
                        <div class="input"><input class="medium" id="user-firstname" name="user[firstname]" type="text" value="<%= firstname %>"></div>
                    </div>
                    <div class="clearfix" id="user-lastname-div">
                        <label for="user-lastname">{{ 'rtxlabs.user.label.lastname' | trans }}:</label>
                        <div class="input"><input class="medium" id="user-lastname" name="user[lastname]" type="text" value="<%= lastname %>"></div>
                    </div>

                    <div class="clearfix" id="user-personnelNumber-div">
                        <label for="user-personnelNumber">{{ 'rtxlabs.user.label.personnel_number' | trans }}:</label>
                        <div class="input"><input class="small" id="user-personnelNumber" name="user[personnelNumber]" type="text" value="<%= personnelNumber %>"></div>
                    </div>

                    <div class="clearfix" id="user-email-div">
                        <label for="user-email">{{ 'rtxlabs.user.label.email' | trans }}:</label>
                        <div class="input"><input class="large" id="user-email" name="user[email]" type="text" value="<%= email %>"></div>
                    </div>
                </fieldset>
            </div>
            <div class="span8">
                <fieldset>
                    <legend>{{ "rtxlabs.user.edit.legend.accessdata" | trans }}</legend>

                    <div class="clearfix" id="user-username-div">
                        <label for="user-username">{{ 'rtxlabs.user.label.username' | trans }}:</label>
                        <div class="input"><input class="medium" id="user-username" name="user[username]" type="text" value="<%= username %>"></div>
                    </div>
                    <div class="clearfix" id="user-password-div">
                        <label for="user-password">{{ 'rtxlabs.user.label.password' | trans }}:</label>
                        <div class="input"><input class="medium" id="user-password" name="user[password]" type="password"></div>
                    </div>
                    <div class="clearfix" id="user-password2-div">
                        <label for="user-password2">{{ 'rtxlabs.user.label.password2' | trans }}:</label>
                        <div class="input"><input class="medium" id="user-password2" type="password"></div>
                    </div>
                    <div class="clearfix" id="user-admin-div">
                        <label for="user-admin">{{ 'rtxlabs.user.label.administrator' | trans }}:</label>
                        <div class="input"><input class="small" id="user-admin" name="user[admin]" type="checkbox" <%= admin==true ? 'checked=checked' : '' %> ></div>
                    </div>
                </fieldset>
            </div>
        </div>
        <div class="row">
            <div class="actions">
                <input id="save-user" type="button" class="btn small info" value="{{ "core.general.form.save" | trans }}"/>
                &nbsp;&nbsp;
                <a href="#" class="btn small">{{ "core.general.form.backtolist" | trans}}</a>
            </div>
        </div>
    </form>
</script>