<script type="text/template" id="reactivation-confirmed-template">
    <div class="row">
        <div class="span6 confirmed">
            <legend>{{ 'rtxlabs.user.reactivation.success' | trans }}</legend>
            {{ 'rtxlabs.user.reactivation.confirmed' | trans }}<br />
            {{ 'rtxlabs.user.registration.redirect' | trans }}
            <a class="edit" href="{{ path('uac') }}">{{ 'rtxlabs.user.registration.redirect.link' | trans }}</a>
        </div>
    </div>
</script>